@{
    ViewBag.Title = "About";
}

<header class="intro-header" style="background-image: url(@Url.Content("~/Content/img/about-bg.jpg"))">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About us</h1>
                    <hr class="small">
                    <span class="subheading">We creeping while you sleeping.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>
                <h2>DopeZoo</h2> is an organization that combine everything we do, because we are not like the other normal people. We are animals! Animals full with dope in their blood.
                Everyone has different interests and hobbies, but in a unique way, they come together and become what we are. Our hobbies are hard to understand by normal people, and we know that cause you're here, you're part of us, part of the zoo.
            </p>
            <p>We are collaborating extreme sports, arts, music, freerun and parkour, calligraphy and many many more. Our ambitions are limitless! We hope that one day, our ambitions will become reality and the thinks we are dreaming about, will become reality! Be a part from the zoo.</p>
        </div>
    </div>
</div>